<div class="jumbotron" style="margin-top: 50px; ">
  <h1 class="display-4">Welcome</h1>
  <p class="lead">we welocme you to the world of AI.</p>
  <hr class="my-4">
  <p>Here you can simple register as a driverUser and track you details</p>
  <a class="btn btn-primary btn-lg" href="/welcome" role="button">Let's Start</a>
</div>

<div class="container" style="text-align: center">
 <div class="row">
         <div class="col-lg-12">
              <button href="/aboutdev" class="button">Team</button>
         </div>
 </div>
</div>